@model IEnumerable<MvcApplication1.Models.Reception>
@{
    ViewBag.Title = "Добро пожаловать!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                
            </hgroup>
           
            
        </div>
    </section>
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <h4>Здесь список событий</h4>
    }
    else
    {
        <h4> Вам необходимо зарегистрироваться или аутентификацироваться </h4>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
