@{
    ViewBag.Title = "Добро пожаловать!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>

            </hgroup>
            <p>
                Вам необходимо зарегистрироваться или авторизоваться
            </p>
        </div>
    </section>
}
